[submodule "CPP00_42"]
	path = CPP00_42
	url = git@github.com:guicdas/CPP00.git
[submodule "CPP01_42"]
	path = CPP01_42
	url = git@github.com:guicdas/CPP01.git
[submodule "CPP02_42"]
	path = CPP02_42
	url = git@github.com:guicdas/CPP02.git
[submodule "CPP03_42"]
	path = CPP03_42
	url = git@github.com:guicdas/CPP03.git
[submodule "CPP04_42"]
	path = CPP04_42
	url = git@github.com:guicdas/CPP04.git
[submodule "CPP06_42"]
	path = CPP06_42
	url = git@github.com:guicdas/CPP06_42.git
[submodule "CPP05_42"]
	path = CPP05_42
	url = git@github.com:guicdas/CPP05_42.git
[submodule "CPP07_42"]
	path = CPP07_42
	url = git@github.com:guicdas/CPP07_42.git
